/.vs
*.exe
*.log
*.bin
*.apk
/metadata/
/Library/
/Temp/
/Assets/VSCode*
/obj/
/out
/.vscode/
*.sln
*.userprefs
*.csproj
/.idea
*.iml
*.DotSettings.user
/Assets/Plugins/Editor/JetBrains*
/Assets/Editor/PanicButton/reloader.cs
.DS_Store